<div class="mobile">
  <h1 class="text-center">Phone Number Collection</h1><hr>
  <label for="" class="text-center text-primary">Add a contact</label><br>
  <input type="text" placeholder="Enter a phone number here" #ref><br>
  <input type="text" placeholder="Enter contact name here" #ref2><br>
  <button class="btn btn-warning " (click)="senditem(ref.value,ref2.value); ref.value='';ref2.value=''">+ Add To contacts</button><hr>
  

  <!-- Display to do list -->
  <h1>Your Contacts</h1><hr>
  <h2 *ngIf="numbers.length == 0"><i class="fa-solid fa-magnifying-glass"></i> No items Found!!!</h2>
  <div id="bm" class="mt-5 bg-light">
    <h3 *ngFor="let item of numbers;let ind=index">
      {{item}}
      <button class="btn btn-sm deleteBtn" (click)="deletecontact(ind)"><i class="far fa-trash-alt"></i></button>
    </h3>
  </div>
</div>